:root {
    --white-soft:#F5F7FA;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 330px;
    border-top: solid #182430;
    border-bottom: solid #182430;
    border-left: solid #182430;
    border-right: solid #182430;
    padding-bottom: 25px;
    height: 300px;
}

.simbolo {
    background-color: #182430;
    padding: 24px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 18px;
}

.titulo {
    margin-top: 15px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-soft);
}

.paragrafo {
    margin-top: 5px;
    text-align: center;
    width: 200px;
    font-size: 14px;
    color: var(--white-soft);
}