@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{

    --bg-main:#0F1720;
    --bg-card:#182430;

    --dark:#101820;

    --emerald:#00C896;
    --emerald-light:#34F5C5;

    --white-soft:#F5F7FA;
    --gray-light:#B7C2CC;

    --border:#2B3B49;

    --header-gradient:linear-gradient(
        90deg,
        #101820,
        #173042
    );

}

body {
    background-color: var(--bg-main);
}

p button  {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

p {
    font-size: 16px;
    font-weight: 300;
    height: 40px;
}

.h1Container {
    display: flex;
    align-items: center;
    height: 90%;
    justify-content: flex-start;
}

.MainCard h1 {
    color: var(--white-soft);
    width: 400px;
    text-align: left;
    font-size: 40px;
    margin-left: 130px;
}

.MainCard {
    margin-top: 30px;
    background-image: url("../images/pc.png"), linear-gradient(to top,var(--bg-card) 40%, var(--emerald) 100%);
    background-size: 600px, contain;
    box-shadow: 5px 5px 10px var(--emerald);
    background-position: 600px, left;
    background-repeat: no-repeat;
    width: 90%;
    height: 400px;
    border-radius: 0 50px 50px 0;
}